body {
  font-family: 'Open Sans';
}

.App {
  --purple-dark: #221B2B;
  --purple-light: #674C65;
  --tan: #F0F0EA;
  min-height: 100vh;
  overflow: auto;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

.App, #root {
  background-color: var(--purple-dark);
}


.App-header {
  background-color: var(--purple-dark);
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  display: flex;
  /* flex-direction: column; */
  align-items: left;
  justify-content: left;
  font-size: 20px;
  color: white;
}

.logo {
  height: 100px;
  width: 210px;
}



textarea {
  resize: none;
}

.PostCreator.parent, .PostFeed {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: var(--purple-dark);
}

.PostCreator.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PostCreator.child {
  height: 60%;
  width: 60%;
  max-width: 575px;
  background-color: #674c65;
  box-shadow: inset 0 0 15px #221B2B;
  border-radius: 5px;
  
}

.PostCreator.heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  margin-bottom: 2%;
}

.createPostBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
}

h2 {
  font-size: 18px;
  margin: 0 0 0 24px;
}

.PostCreator h2 { 
  color: var(--tan);
  font-size: 20px;
  margin: 0 0 0 24px;
  padding-left: 5%;
}

.PostFeed h2 {
  color: #fff;
}

.form-item {
  margin-bottom: 40px;
  padding-left: 3%;
}

.exitIcon {
  margin-left: 2%;
  margin-right: -6%;
}

.PostFeed {
  width: 90%;
  margin: 20px;
}

.grid {
  display: grid;
  gap: 2rem;
  grid-auto-flow: dense;
  margin: 0 0 1rem 0;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid > div {
  background: var(--purple-light);
  min-width: 10px;
}

.Post {
  max-height: 400px;
  overflow-y: scroll;
  background-color: #674C65;
  border-radius: 5px;
  padding: 20px;
}

.Post > h3 {
  margin: 0 0 18px 0;
}

.Post > p {
  margin: 0;
}


