.App {
  --purple-dark: #221B2B;
  --purple-light: #674C65;
  --tan: #F0F0EA;
  min-height: 100vh;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}


.App-header {
  background-color: #221B2B;
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  display: flex;
  /* flex-direction: column; */
  align-items: left;
  justify-content: left;
  font-size: 20px;
  color: white;
}

.logo {
  height: 100px;
  width: 210px;
}



textarea {
  resize: none;
}

.PostCreator.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: var(--purple-dark);
}

.PostCreator.child {
  height: 60%;
  width: 80%;
  background-color: var(--tan);
}

.PostCreator.heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
}

.PostCreator h2 { 
  color: #000;
  font-size: 18px;
  margin: 0 0 0 24px;
}

.form-item {
  margin-bottom: 50px;
}

